/* 12. footer */
.footer_widget_list{
    @media #{$small-mobile2}{
        text-align: center;
    }
}
.footer_contact_list{
    margin-bottom: 25px;
    &:last-child{
        margin-bottom: 0;
    }
    @media #{$tablet-device}{
       margin-bottom: 18px;
    }
    @media #{$large-mobile}{
      margin-bottom: 16px;
    }
    & span{
        font-size: 13px;
        line-height: 30px;
        color: #999999;
        display: block;
        font-weight: 400;
        @media #{$large-mobile}{
          line-height: 24px;
        }
    }
    & p{
        font-size: 18px;
        line-height: 30px;
        color: #000000;
        font-weight: 400;
        @media #{$tablet-device}{
            font-size: 16px;
            line-height: 25px;
        }
        @media #{$large-mobile}{
            font-size: 14px;
            line-height: 22px;
        }
    }
    & a{
        font-size: 18px;
        line-height: 30px;
        color: #000000;
        display: inline-block;
        font-weight: 400;
        @media #{$tablet-device}{
            font-size: 16px;
            line-height: 26px;
        }
        @media #{$large-mobile}{
            font-size: 14px;
            line-height: 22px;
        }
    }
}

.footer_logo{
    margin-bottom: 42px;
    @media #{$tablet-device}{
       margin-bottom: 25px;
    }
    @media #{$large-mobile}{
      margin-bottom: 23px;
    }
}

.footer_menu{
    & ul{
        @media #{$small-mobile2}{
          justify-content: center !important;
        }
        & li{
            margin-right: 48px;
            &:last-child{
                margin-right: 0;
            }
            @media #{$tablet-device}{
               margin-right: 28px;
            }
            @media #{$large-mobile}{
                margin-right: 18px;
            }
            @media #{$small-mobile2}{
              margin-right: 14px;
            }
            & a{
                font-size: 16px;
                line-height: 24px;
                color: #000000;
                text-transform: uppercase;
                font-weight: 400;
                @media #{$tablet-device}{
                  font-size: 15px;
                }
                @media #{$large-mobile}{
                    font-size: 13px;
                }
            }
        }
    }
}

.footer_social{
    padding: 37px 0 90px;
    @media #{$tablet-device}{
       padding: 28px 0 50px;
    }
    @media #{$large-mobile}{
        padding: 25px 0 30px;
    }
    @media #{$small-mobile2}{
        padding: 17px 0 21px;
    }
    & ul{
        @media #{$small-mobile2}{
           justify-content: center !important;
        }
        & li{
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
            @media #{$tablet-device}{
              margin-right: 10px;
            }
            & a{
                width: 42px;
                height: 42px;
                line-height: 40px;
                display: inline-block;
                color: #999999;
                border: 1px solid #999999;
                border-radius: 50%;
                text-align: center;
                font-size: 18px;
                &:hover{
                    background: #000000;
                    border-color: #000000;
                    color: #fff;
                }
                @media #{$tablet-device}{
                    width: 38px;
                    height: 38px;
                    line-height: 38px;
                }
                @media #{$large-mobile}{
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    font-size: 16px;
                }
                @media #{$small-mobile2}{
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                }
            }
        }
    }
}


.copyright_right{
    @media #{$small-mobile2}{
        text-align: center;
    }
    & p{
        font-size: 14px;
        line-height: 30px;
        color: #999999;
        text-transform: capitalize;
        font-weight: 400;
        & i{
            color: #f53400;
            font-size: 18px;
            vertical-align: middle;
        }
        @media #{$large-mobile}{
            font-size: 13px;
            line-height: 22px;
        }
        & span{
            color: $secondary_color;
            font-weight: 600;
        }
        & a{
            color: #000000;
            &:hover{
                color: $secondary_color;
            }
        }
        
    }
}






